body {
    user-select: none;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
    border: 1px solid #ccc;
}

h4 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.full-width-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Define the width of the second row's first cell */
.fixed-width-cell {
    width: 192px;
}

.song-box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.align-top {
    vertical-align: top;
}

.align-bottom {
    vertical-align: bottom;
}


/* Style for the image and subtitle div */
.playing-song {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.playing-song img {
    width: 192px;
    height: 120px;
    padding-top: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.playing-song h4 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.playing-song p {
    margin: 0;
    font-size: 14px;
    color: #555;
}


.flex {
    display: flex;
}

.shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input {
    width: 100%;
    border-radius: 20px;
    background-color: #F1F3F4;
    padding: 15px;
    border: none;
    outline: none;
}

.side-button {
    font-weight: bold;
    margin-top: 10px;
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #F1F3F4;
    color: #2d2d2d;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

/* Search button style */
.icon-button {
    font-weight: bold;
    width: auto;
    padding: 15px;
    background-color: #f0f0f0;
    color: #2d2d2d;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10px;

}

.icon-button:hover {
    background-color: #d3d3d3;
}

/* Make the second row's second cell take up the remaining width and height */
.song-box-height {
    height: calc(100vh - 99px); /* 100vh - 162px/99px (total height of other cells) */
    overflow: hidden; /* Hide overflowing content */
}

.scrollable-box {
    overflow-y: auto; /* Enable vertical scrolling */
    height: 100%;
}

.song-div {
    justify-content: space-between;
    height: 50px;
    background-color: #f0f0f0;
    margin-bottom: 8px; /* Add spacing between the divs */
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
}

.song-div img {
    width: 38px;
    height: 24px;
    margin-right: 10px;
}

.song-info {
    display: flex;
    flex-direction: column;
    float: left;
}

.song-info p {
    margin: 0;
    font-size: 14px;
    color: #555;
}

.audio-player {
    width: 100%;
    margin-left: 10px;
}

.song-div:hover {
    background-color: #d3d3d3;
    cursor: pointer;
}

.clicked {
    background-color: #d3d3d3;
}

.side-button:hover {
    background-color: #d3d3d3;
    cursor: pointer;
}

.action-div {
    float: right;
    text-align: right;
}

.action-div:hover h4 {
    text-decoration: underline;
}